@model Prepool_k21_BookStore.Models.Book

@{
    ViewBag.Title = "Details";
}

<div class="myNewsDetails">
    <div class="myNewsHeader">@Html.DisplayFor(model => model.Title)</div>
    <div class="myNewsContent">@Html.DisplayFor(model => model.Content)</div>
    <div class="myNewsAthour">
        <label class="labelBold">Tác giả: </label>
        <label class="labelAthour"> @Html.DisplayFor(model => model.Author)</label>
        <br>
        <label class="labelBold">Ngày phát hành: </label>
        <label class="labelAthour">@Html.DisplayFor(model => model.PublishDate)</label>
    </div>
    <div class="divDetailImage">
        <img id=myDetailimage src="../../Content/Images/@Model.ImagePath" />
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>